[submodule "lib/pocketfft"]
	path = lib/pocketfft
	url = https://gitlab.mpcdf.mpg.de/mtr/pocketfft.git
	branch = cpp
[submodule "lib/vcl"]
	path = lib/vcl
	url = https://github.com/ryukau/vcl_version2.git
	branch = sse2neon_hack
