<style>
body {
  max-width: 704px;
  margin: auto;
  padding: 32px 8px;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

kbd {
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
}

a {
  text-decoration: none;
}

h1 {
  background-color: #163eac;
  color: #ffffff;
  padding-left: 8px;
}

h2 {
  border-left: solid 32px #163eac;
  padding-left: 24px;
}

h3 {
  border-left: solid 20px #163eac;
  padding-left: 16px;
}

h4, h5, h6 {
  border-left: solid 8px #163eac;
  padding-left: 8px;
}

table {
  border-spacing: 0px;
  border-collapse: separate;
  border: 1px solid #dddddd;
}

tr.header {
  border: 1px solid black;
}

tr.odd {
  background: #eeeeee;
}

tr.even {
  background: #ffffff;
}

th {
  height: 2em;
  font-weight: normal;
  padding-left: 0.35em;
  padding-right: 0.35em;
  border-bottom: 3px solid #dddddd;
  border-left: 1px solid #dddddd;
}

td {
  height: 1.5em;
  padding-left: 0.35em;
  padding-right: 0.35em;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}

audio {
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

code {
  color: #163eac;
}

pre {
  border: 4px solid #eeeeee;
}

li {
  margin: 8px;
}

summary:hover {
  background-color: #eeeeee;
}

header {
  border-bottom: 1px gray solid;
  padding: 0.5em;
  margin-bottom: 1em;
}

footer {
  border-top: 1px gray solid;
  padding: 0.5em;
  margin-top: 1em;
}
</style>
