<style>body {
  max-width: 704px;
  margin: auto;
  padding: 32px 8px;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

details.list>summary {
  line-height: 3em;
}

kbd {
  font-family: inherit;
  border-style: outset;
  border-width: 1px 2px 2px 1px;
  border-radius: 2px;
  padding: 2px 4px;
  margin: 2px;
  line-height: calc(1em + 16px);
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ffe590;
}

h1 {
  background-color: #163eac;
  color: #ffffff;
  padding-left: 8px;
}

h2 {
  border-left: solid 32px #2851c2;
  padding-left: 24px;
}

h3 {
  border-left: solid 20px #4d74dd;
  padding-left: 16px;
}

h4 {
  border-left: solid 12px #6a88da;
  padding-left: 8px;
  margin-bottom: 0.5em;
}

h5 {
  border-left: solid 4px #8ca4e7;
  padding-left: 4px;
  margin-bottom: 0.5em;
}

h6 {
  border-left: solid 2px #a8bcf5;
  padding-left: 2px;
  margin-bottom: 0.5em;
}

table {
  border-spacing: 0px;
  border-collapse: separate;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  border-top: 1px solid #888888;
  border-bottom: hidden;
}

tr:nth-child(odd) {
  background: #eeeeee;
}

tr:nth-child(even) {
  background: #ffffff;
}

th {
  height: 2em;
  padding: 4px 1em 4px 1em;
  background: #ffffff;
  border-bottom: 1px solid #888888;
}

th:not(:first-child) {
  border-left: 1px solid #888888;
}

td {
  height: 1.5em;
  padding: 4px 1em 4px 1em;
  border-bottom: 1px solid #888888;
}

td:not(:first-child) {
  border-left: 1px solid #888888;
}

dl {
  padding-left: 2em;
}

dt {
  font-weight: bold;
  border-bottom: 1px dashed #000000;
}

dd {
  border-left: 1px dotted #000000;
  margin-left: 1em;
  margin-bottom: 2em;
  padding-left: 1em;
}

audio {
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

:not(.sourceCode)>pre {
  overflow: auto;
  border: 1px solid #888888;
  padding: 8px;
}

div.sourceCode {
  overflow: auto;
  border: 1px solid #888888;
  padding: 8px;
}

pre>code.sourceCode>span>a:first-child::before {
  border-right: 1px solid #888888;
  padding-right: 1em;
  margin-right: 1em;
  text-decoration: none;
}

:not(pre)>code {
  margin-left: 0.25em;
  margin-right: 0.25em;
  color: #705020;
}

li {
  margin: 8px;
}

summary:hover {
  background-color: #eeeeee;
}

header {
  border-bottom: 1px gray solid;
  padding: 0.5em;
  margin-bottom: 1em;
}

footer {
  border-top: 1px gray solid;
  padding: 0.5em;
  margin-top: 1em;
}

</style>
